meta(charset='utf-8')
meta(name='viewport', content='initial-scale=1 maximum-scale=1 user-scale=no')
meta(content='yes', name='apple-mogile-web-app-capable')
meta(content='yes', name='apple-touch-fullscreen')
meta(content='telephone=no,email=no', name='format-detection')
link(rel='stylesheet',href='css/reset.css')